{
  "tabWidth": 3,
  "trailingComma": "es5",
  "singleQuote": false,
  "useTabs": false,
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": false
}
